<!DOCTYPE html>
<html>
  <head>
    <title>Bargain Books</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Bargain Books (Under £20)</h1>

    <ul>
  <% availableBooks.forEach(function(book) { %>
    <li>
     <%= book.name %> 
     £<%= book.price %>
    </li>
  <% }); %>
</ul>
  </body>
</html>
